.cell {
    -fx-background-color: #dff2ff;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.red {
    -fx-text-fill: red;
}

.green {
    -fx-text-fill: green;
}